<div class="search-bar">
    <div class="search-icon" *ngIf="searchTerm.length === 0">
        <i class="fa fa-search search-icon-fa" aria-hidden="true"></i>
    </div>
    <div class="input">
        <input [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search">
        {{searchType}}
    </div>
    <div class="results" *ngIf="searchResults.length > 0">
        <ul >
            <li *ngFor="let result of searchResults"><button (click)="onClickList()">{{result}}</button></li>
        </ul>
    </div>
</div>