<div class="container-menu">
    <div class="logo">
        <img src="../../../assets/images/corporation.png" alt="LOGO">
        <div class="corporation">CORPORATION</div>    
    </div>

    <div class="options">
        <div class="dashboard">
            <i class="fa  fa-square square" aria-hidden="true"></i>
            <a routerLink="./dashboard">Dashboard</a>                
        </div> 
        <div class="user-managment"> 
            <i class="fa  fa-id-card card" aria-hidden="true"></i>
            <a routerLink="./user-management">User Management</a>                
        </div>
        <div class="task-managment"> 
            <i class="fa fa-tasks tasks" aria-hidden="true"></i>     
            <a routerLink="./task-management">Task Management</a>                
        </div>
    </div>
</div>