<div class="login-page">
    <div class="background"></div>
    <div class="login-form">
        <app-login-form></app-login-form>        
    </div>
   
    <div class="register">
        <div class="text-1">
            <h1>Ideas</h1>
        </div>
        <div class="text-2">
            <h2>Project managment, simplified</h2>
        </div>
        <div class="text-3">
            <p>Get started using a simplified management system that does this and that and some other things now.</p>
        </div>
        <div class="button">
            <button type="button">Register</button>
        </div>
    </div>

</div>