<div class="login-form">
    <div class="header">Login</div> 
    <div class="form-data"> 
      <form #loginForm="ngForm" (ngSubmit)="loginUser()">
          <div class="username">
            <label for="username"></label> 
            <input type="text" id="username" name="username" placeholder="Enter Your Username" [(ngModel)]="loginFormsModel.username" minlength="2" required>
              <div class="error" *ngIf="inputStatus['username'].status">
                  <span >&times;</span>
                  {{inputStatus['username'].errorMessage}}
              </div>
 
          </div>
          <div class="password">
            <label for="password"></label>
            <input type="password" placeholder="Enter Your Password" name="password" [(ngModel)]="loginFormsModel.password" minlength="2" required>
             <div class="error" *ngIf="inputStatus['password'].status">
                  <span >&times;</span>
                  {{inputStatus['password'].errorMessage}}
              </div> 
          </div>
          <div class="button">
            <button type="submit">Submit</button>
          </div>
          <div class="button" *ngIf="showDiv">
              <button type="button" (click)="openRegisterPage()">Register</button>
          </div>
      </form>
    </div>
</div>